<script>
/**
 * @type {import('./$types').PageData}
 */
export let data;

   </script>
<p>{data.vv}</p>
<h1>MAIN </h1>
<h1>Welcome to SvelteKit</h1>
<p>
    Переход на <a href="second">Вторая страница</a>
</p>

